/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* --- Caja exterior: contenedor gris --- */
.contenedor {
    background-color: #d9d9d9; /* Gris */
    border-radius: 50px;      /* Esquinas redondeadas */
    padding-top: 15px;
    padding-bottom: 5px;
    margin: 20px auto;        /* Centrada en la página */
    height: 75vh;
    width: 60vw;
}

/* --- Caja blanca interior (formulario) --- */
.company-form {
    display: flex;
    flex-direction: column;
    background-color: #ededed;
    border-radius: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 50vw;               /* Hacerla un poco más pequeña */
    margin: 20px auto;       /* Centrado */
    padding: 30px;
}


/* Estilo del área de texto */
.textarea-field {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none; /* No permitir redimensionar */
    transition: border-color 0.3s ease; /* Transición suave para el borde */
}

.textarea-field:focus {
    border-color: #007bff; /* Cambiar color del borde en foco */
}

/* Estilos generales para campos de entrada */
.input-field {
    width: 100%; /* Full width */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0; /* Espaciado entre campos */
    transition: border-color 0.3s ease; /* Transición suave para el borde */
}

.input-field:focus {
    border-color: #007bff; /* Cambia el borde en foco */
}

/* --- Estilo para los botones --- */
.company-image-input{
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 5px;
    resize: none;
    transition: border-color 0.3s ease;


}
#save-btn1 {
    background-color: #28a745; /* Verde brillante */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Animaciones */
}

/* Efecto hover en el botón de guardar */
#save-btn1:hover {
    background-color: #34d058; /* Color claro al pasar */
    transform: scale(1.05); /* Efecto de agrandado */
}

/* --- Estilo para la imagen --- */
.image-container {
    background-color: #ffffff; /* Fondo blanco */
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 95%;
    max-width: 120px;
    margin: 0 10px; /* Ajuste de margen */
    padding: 30px;
}