body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}


main {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.main-container {
    background: #DDDDDDFF;-
    padding: 100px;
    width: 60%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.save-button {
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 5px;
}

.image-container {
    display: flex;
    align-items: center;
    gap: 20px;
    background: #bcbcbc;
    padding: 20px;
    width: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

.account-info1 {
    display: grid;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.description-container {
    background: #bcbcbc;
    padding: 20px;
    height: auto;
    width: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}
