
/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --- Estilos del cuerpo --- */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8; /* Fondo suave */
}

/* --- Encabezado de la compañía --- */
.company-header {
    display: flex;
    align-items: center;
    gap: 20px;  /* Espacio entre la imagen y la información */
}

.company-name-label {
    font-weight: bold;
    margin-bottom: 5px;
}

/* --- Caja blanca interior (formulario) --- */
.company-form {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
    padding: 30px;

}
.product-name-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.product-name-label {
    font-weight: bold;
    margin-bottom: 5px;
}

#product-name {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}


/* Estilo del área de texto */
.textarea-field {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

/* Estilos generales para campos de entrada */
.input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0; /* Espaciado entre campos */
    transition: border-color 0.3s ease; /* Transición suave para el borde */
}

.input-field:focus {
    border-color: #007bff; /* Cambia el borde en foco */
}

/* --- Estilo para los botones --- */
.company-image-input{
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 5px;
    resize: none;
    transition: border-color 0.3s ease;


}
#save-btn1 {
    background-color: #28a745; /* Verde brillante */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Animaciones */
}

/* Efecto hover en el botón de guardar */
#save-btn1:hover {
    background-color: #34d058; /* Color claro al pasar */
    transform: scale(1.05); /* Efecto de agrandado */
}

/* --- Estilo para la imagen --- */
.image-container {
    background-color: #ffffff; /* Fondo blanco */
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 95%;
    max-width: 120px;
    margin: 0 10px; /* Ajuste de margen */
    padding: 30px;
}
