* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo-section {
    display: flex;
    align-items: center;
}

.logo {
    position: relative;
    left: 10px;
}

.logo-img {
    height: auto;
    width: 100px;
    margin-right: 10px;
}

.logo-section h1 {
    font-size: 1.8em;
    margin: 0;
}

.search-section {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #eee;
    border-radius: 30px;
    padding: 10px 10px;
}

.search-section input {
    border: none;
    background: transparent;
    outline: none;
    width: 300px;
}

.search-icon {
    font-size: 1.2em;
}

.user-section {
    display: flex;
    align-items: center;
    gap: 20px;
}

.user-section a {
    text-decoration: none;
    color: #000000;
}

.user-icon img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.account-section {
    display: flex;
    gap: 10px;
    font-size: 14px;
    font-weight: bold;
}

.account-section a {
    text-decoration: none;
    color: #0073e6;
    font-weight: bold;
    right: 10px;
}

.user-name {
    top: 10px;
    font-size: 14px;
}

.user-menu {
    display: flex;
    gap: 10px;
    right: 10px;
    align-items: flex-end;

}

.user-menu a {
    text-decoration: none;
    color: #0073e6;
    font-weight: bold;
}


.search-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.search {
    width: 30%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.company-form {
    background-color: white;
    padding: 25px;
    margin: 30px auto;
    width: 70%;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.company-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.company-image {
    background: #e0e0e0;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
}

.company-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.company-info input[type="text"],
.company-info input[type="file"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.company-description,
.company-info-section {
    margin-bottom: 15px;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

.save-button {
    background-color: green;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.save-button:hover {
    background-color: darkgreen;
}
