@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fdfdfd;
    margin: 0;
    font-family: 'Inter', sans-serif;
}
.container {
    background-color: #d3d3d3;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.logo {
    font-size: 48px;
    font-weight: bold;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img {
    width: 300px;
    margin-left: 10px;
}
.login-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}
input {
    width: 75%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.sign-in {
    background: #ccc;
    border: 1px solid #ccc;

}

.enter {
    background: #6060ff;
    color: white;
    border: 1px solid #000000;
}

label {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 600;
}