body {
    background-color: #d3d3d3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    margin: 0;
}


.image-container img {
    display: block;
    margin-bottom: 30px;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
}

.container {
    background: white;
    margin: auto;
    border-radius: 30px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 100%;
    min-width: 25em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2 {
    margin-bottom: 25px;
    font-size: 30px;
}

input{
    display: block;
    width: 70%;
    margin: 1em;
    padding: 18px;
    font-size: 15px;
    border: 2px solid #ccc;
    border-radius: 10px;
}

#descripcion{
    display: block;
    width: 70%;
    margin: 1em;
    padding: 18px;
    font-size: 15px;
    border: 2px solid #ccc;
    border-radius: 10px;
    height: 120px;

}

button {
    width: 80%;
    margin: 2em 2em 0 2em;
    padding: 20px;
    font-size: 22px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    display: block;
}

button:hover {
    background-color: #218838;
}

#VolverLogIn {
    background: none;
    border-style: none;
    color: black;
    font-size: 15px;
}
