body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white !important;
    font-size: 18px;
}


.supply-container {
    margin: 60px auto;
    background-color: #e1e1e1;
    border-radius: 25px;
    width: 90%;
    max-width: 1700px;
    padding: 40px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header {
    width: 100%;
    max-width: 1920px !important;
    margin-bottom: 0 !important;
    padding: 0;
}

header button {
    color: #000;
    background-color: #fff;
    font-size: 18px;
    padding: 12px 20px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: 30px;
}

.table-wrapper {
    background-color: #eee;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.07);
    overflow-x: hidden;
    width: 1200px;
}

.total-wrapper{
        background-color: white;
        border-radius: 12px;
        padding: 30px;
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.07);
        overflow-x: auto;
        width: 1400px;
}

.total-wrapper2{
    background-color: white;
    padding: 30px;
    overflow: hidden;
    width: 1920px;
    height: 834px;
    margin-top: 0px;

}

#notification-btn {
    background-color: #f1f1f1;
    border: none;
    padding: 16px;
    border-radius: 18px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 2px 2px 4px #999;
    width: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bell {
    margin-left: 5px;
}

.button-wrapper {
    background-color: #eee;
    padding: 14px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.06);
    margin-inside: 10px;
}

.delete_button button {
    background: #ec5353;
    color: black;
    font-size: 16px;
    padding: 14px 20px;
    border-radius: 12px;
    cursor: pointer;
    border: none;
    width: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.delete_button button:hover {
    background: red;
}

.notification-wrapper {
    padding: 6px 14px;
    height: auto;
    margin-bottom: 40px;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 25px;
    margin-right: 20px;
    background-color: transparent;
    font-size: 17px;
}

thead th {
    text-align: left;
    padding-bottom: 14px;
    font-size: 17px;
    border-bottom: 2px solid black;
    background-color: #eee;
}

th, td {
    border: none;
}

tbody td {
    padding: 8px 12px;
}

.cell {
    background-color: #d6d6d6;
    padding: 14px 18px;
    border-radius: 12px;
    text-align: center;
    font-size: 15px;
}

input[type="checkbox"] {
    transform: scale(1.5);
}

@media screen and (max-width: 768px) {
    .supply-container {
        flex-direction: column;
        align-items: center;
    }

    .sidebar {
        align-items: center;
        margin-top: 25px;
    }

    table {
        width: 100%;
    }
}
